.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
    margin-left: 10px;
    border: 2px solid tan;
}

img {
    width: 100%;
    height: 100%;
}

.modal-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-edit-form {
    width: 400px;
    font-size: 20px;
}

.btn {
    background-color: #cca000 !important;
    margin-bottom: 20px;
    color: white;
}

.model-error {
    color: red;
    font-weight: bold;
}

.modal-check-container {
    padding: 20px;
}

.modal-check-btn {
    padding: 20px;
}

